.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  max-width: 1280px;
  height: 680px;
  margin: auto;
}

.app__title {
  margin-top: 36px;
  margin-bottom: 25px;

  font-family: "Exo 2.0", sans-serif;
  font-size: 36px;
  font-weight: 250;
  font-style: normal;
  line-height: 43px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 1px #000;
}

.app__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 20px;

  list-style-type: none;
}

.app__item {
  margin-bottom: 20px;
}

.app__item:not(:last-child) {
  margin-right: 80px;
}

/* -------Adaptive------- */

@media (max-width: 1160px) {
  .app {
    margin: 0 auto;
  }

  .app__item:nth-child(2) {
    margin-right: 0;
  }

  .app__item:nth-child(3) {
    margin-right: 80px;
    margin-left: 80px;
  }
}

@media (max-width: 760px) {
  .app__item:nth-child(n) {
    margin-right: 80px;
    margin-left: 80px;
  }
}

@media (max-width: 600px) {
  .app__item:nth-child(n) {
    margin-right: 0;
    margin-left: 0;
  }

  .app__list {
    margin: 0 auto;
  }
}
